<!DOCTYPE html>
<html>
    <head>
        <title>Signup Page</title>
        <style type="text/css">
            .error {
                color: red;
            }

            label {
                color: black;
            }

            tr {
                padding: 5px 5px 5px 5px;
            }

            td {
                padding: 5px 5px 5px 5px;
            }

        </style>
    </head>
    <body>
        <h1>
            Signup
        </h1>

        {% block content %}
        {% endblock %}

    </body>
</html>
